body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.myst {
    color: lightgrey;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 46%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.text2 {
    color: lightgrey;
    font-size: 14pt;
}

.column1 {
    position: absolute;
    left: 25%;
    width: 20%;
    top: 60%;
    margin-bottom: 40px;
    padding: 0 8px;
}

.column2 {
    position: absolute;
    left: 55%;
    width: 20%;
    top: 60%;
    margin-bottom: 40px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: lightgrey;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 150px;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: lightgrey;
    top: 50%;
}

.button:hover {
    background-color: #997474;
}

@media screen and (max-width: 650px) {
    .column {
        width: 40%;
        display: block;
    }
}