html {
    font-size: 14pt;
}

#info {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#programs {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    grid-template-columns: auto;
    grid-gap: 40px;
    /*padding: 30px 50px;*/

    border-bottom: 1px solid #141414;
    text-align: center;
}

#programs .details {
    background-color: rgba(187, 210, 192, 0.69);
    padding: 20px;
}

.title {
    display: inline;
    padding: 10px;
}

#programs .details .title {
    font-size: 25px;
    margin-bottom: 20px;
}

#programs .details a {
    width: 100%;
    text-align: center;
    /*display: inline-block;*/
    margin-top: 30px;
}

#programs .details button {
    background-color: #676767;
    color: #FFF;
    padding: 10px 40px;
}

/*-----------------------------------------------------*/
/*Button*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 48%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*   padding: 2em 0em; */
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 240px;
    position: absolute;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/
.effect01 {
    color: #0c5460;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #82a758;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

/*//////////////////////////*/

html {
    font-size: 14pt;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.cell {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.view {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

/*-------------------------------------------------------*/

#cityInfo{
    color: lightgrey;
    position: absolute;
    font-size: 30pt;
    top : 18%;
    left: 46%;

}

#myTable {
    position: absolute;
    top: 45%;
    left: 30%;
    border-collapse: collapse;
    width: 40%;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #282828;
}

#myTable th, #myTable td {
    text-align: center;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#myTable .header th {
    cursor: pointer;
    color: white;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #424040;
}

#myInput {
    background-image: url(/Images/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0013cb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
    position: initial;
}

/*-----------------------------------------------------*/


/*btn_background*/
.effect01 {
    color: #0c5460;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: rgba(173, 169, 169, 0.7);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #82a758;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}