label {
    position: relative;
    top: 80px;
    color: #85a59c;
}

h2 {
    color: #85a59c;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -130px;
    position: relative;
    top: 40px;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: 80px;
}

input[type=text]:focus {
    border-color: #333;
}

input[type=password] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: 80px;
}

input[type=password]:focus {
    border-color: #333;
}

input[type=email] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: 80px;
}

input[type=email]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 5px 15px;
    background: #77897a;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 200px;
    position: relative;
    top: 80px;
}

select {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}