html {
    font-size: 14pt;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.cell {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.view {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

/*-------------------------------------------------------*/

#myTable {
    margin-bottom: 100px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #282828;
}

#myTable th, #myTable td {
    text-align: center;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#myTable .header th {
    cursor: pointer;
    color: white;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #424040;
}

#myInput {
    background-image: url(/Images/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0013cb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
    position: relative;
    bottom: 20px;
}

/*-----------------------------------------------------*/
/*Button*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 200px;
    padding: 5em 0em;
}

.button {
    background-color: #ff0000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 240px;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/
.effect01 {
    color: #0c5460;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: rgba(173, 169, 169, 0.7);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #82a758;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}