html {
    font-size: 14pt;
}

.programs {
    display: grid;

    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    padding: 30px 50px;

    border-bottom: 1px solid #141414;
    text-align: center;

    position: relative;
    top: 51px
}

.programs .details {
    background-color: rgba(187, 210, 192, 0.69);
    padding: 20px;
}

.programs .details .title {
    font-size: 25px;
    margin-bottom: 20px;
}

.programs .details a {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.programs .details button {
    background-color: #676767;
    color: #FFF;
    padding: 10px 40px;
}

/*-----------------------------------------------------*/
/*Button*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*   padding: 2em 0em; */
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 240px;
}

.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    top: 50px
}

.btn:hover {
    text-decoration: none;
}

/*btn_background*/
.effect01 {
    color: #0c5460;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid #666;
    background-color: #82a758;
    box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
}

/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}
