<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <link href="../static/css/about-us.css" th:href="@{/css/about-us.css}" rel="stylesheet"/>
</head>
<body>


<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<div class="about-us">
    <div class="about-section">
        <h1>Our solutions connect people and possibilities.</h1>
        <br>
        <p>When Ibrahim Izirov and Todor Kanev founded DeliverIt in 2020, they didn’t know they would revolutionize the
            world of logistics. <br>
            Today, DeliverIt is the world’s leading logistics company. Our people in over 10 countries and territories
            work every day to help you cross borders, <br>
            reach new markets and grow your business. Or simply send a letter to your loved ones.</p>
    </div>

    <h2 class="myst" style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column1">
            <div class="card">
                <img src="Images/todor.jpg" alt="Todor Kanev Image" style="width:100%">
                <div class="container">
                    <h2 class="text2">Todor Kanev</h2>
                    <p class="title">Chief Operating Officer (COO)</p>
                    <p class="text2">Junior Java Programmer. In my free time I like hunting a river monsters.
                        I like to go down a bike on the slopes in the mountains(speed descent downhill),
                        also a gathering with friends for a beer.</p>
                    <p class="text2">todor_kanchev@yahoo.com</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="column2">
            <div class="card">
                <img src="/Images/ibrahim.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h2 class="text2">Ibrahim Izirov</h2>
                    <p class="title">Chief Executive Officer (CEO)</p>
                    <p class="text2">Junior enthusiast / programmer from the Alpha 25 JAVA group(Telerik
                        Academy).
                        In my free time I like to ride a bike, play basketball, walk through hitherto unknown
                        places.
                    </p>
                    <p class="text2">ibrahim.izirov@gmail.com</p>
                    <br/>
                </div>
            </div>
        </div>


</body>
</html>