<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.getName()}">Category Profile</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
</head>
<body>

<h2 th:text="${category.getName()}">Category Name</h2>
<h3 th:text="${category.getDescription()}">Category Description</h3>
</body>
</html>