<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Form Fragment</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
</head>
<body>
<form th:fragment="category-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${category}" method="post">
    <label th:text="#{category.label.name}">Category</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br/><br/>

    <label th:text="#{category.label.description}">Description</label>
    <br/>
    <input type="text" th:field="*{description}"/>
    <label class="error" th:errors="*{description}">Description error placeholder</label>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>