<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>City Form Fragment</title>
    <link href="../static/css/parcelsForm.css" th:href="@{/css/parcelsForm.css}" rel="stylesheet"/>
</head>
<body>

<form th:fragment="city-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${cityDto}" method="post">
    <label th:text="#{city.name}">City</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br/><br/>

    <label th:text="#{country.name}">Country</label>
    <br />
    <label>
        <select th:field="*{countryId}">
            <option th:each="element : ${countries}" th:value="${element.getId()}" th:text="${element.name}">
               Country
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{countryId}">Status error placeholder</label>
    <br />
    <br />

    <input type="submit" value="Save"/>
</form>

</body>
</html>
