<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DeliverIt</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<header>
    <h1 class="title" th:text="#{home.title}">DeliverIt</h1>
    <p class="message">We are a flexible and dedicated Logistics Service Partner.
        We work with you to design custom solutions that add value to your business.</p>
</header>
<body>

<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<div id="counter">
    <td>
        <div class="numb">Registered users:</div>
        <a class="numb" href="#" th:text="${countUser}">345</a>
    </td>
</div>

</body>

</html>