<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/css/LoginAndRegisterStyles.css" th:href="@{/css/LoginAndRegisterStyles.css}" rel="stylesheet">
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form th:action="@{/login}" method="post" th:object="${loginDto}">
                                <div class="form-label-group">
                                    <input type="text" id="usernameInput" class="form-control" placeholder="Username"
                                           required autofocus th:field="*{username}">
                                    <label for="usernameInput">Username</label>
                                    <p th:errors="*{username}">Username error</p>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                           placeholder="Password" required th:field="*{password}">
                                    <label for="inputPassword">Password</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Sign in
                                </button>
                                <div class="text-center">
                                    <a class="small" href="#">Forgot password?</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>