<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipment</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <link href="../static/css/singleParcel.css" th:href="@{/css/singleParcel.css}" rel="stylesheet"/>
</head>
<body>

<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<h2>Parcel Info</h2>

<section>
    <div id="programs">
        <div class="details">

            <div class="title">ID:</div>
            <div class="title" th:text="${parcel.id}">ID</div>
            <br/>
            <div class="title">Weight:</div>
            <div class="title" th:text="${parcel.weight}">Weight</div>
            <br/>
            <div class="title">Category:</div>
            <div class="title" th:text="${parcel.categoryId.name}">Category</div>
            <br/>
            <div class="title">Warehouse address:</div>
            <div class="title" th:text="${parcel.warehouseId.addressId.streetName}">Street name</div>
            <br/>
            <div class="title">Profil Username:</div>
            <div class="title" th:text="${parcel.userId.username}">Username</div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</section>
<h2> Add parcel to shipment: </h2>
<div id=show-shipmentList>
    <div th:each="shipment : ${shipments}">
        <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/shipments/{id}(id=${shipment.getId()})}">
            <span style="color:whitesmoke" th:if="${shipment.getShipmentStatus().getDescription() == 'Preparing'}"
                  th:text="${shipment.getId() + ' | Status : ' + shipment.getShipmentStatus().getDescription()}"></span></a>
    </div>
</div>
</body>
</html>