<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel Form Fragment</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/css/parcelsForm.css" th:href="@{/css/parcelsForm.css}" rel="stylesheet"/>
</head>

<body>
<form th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post">
    <label th:text="#{parcels.label.weight}">Weight</label>
    <br/>
    <input type="text" th:field="*{weight}"/>
    <label class="error" th:errors="*{weight}">Weight error placeholder</label>
    <br/><br/>

    <label th:text="#{parcels.label.category}">Category</label>
    <br/>
    <label>
        <select th:field="*{categoryId}">
            <option th:each="element : ${categories}" th:value="${element.getId()}" th:text="${element.getName()}">
                CategoryName
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{categoryId}">Category error placeholder</label>
    <br/><br/>

    <label th:text="#{parcels.label.warehouse}">Warehouse</label>
    <br/>
    <label>
        <select th:field="*{warehouseId}">
            <option th:each="warehouse : ${warehouses}" th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddressId().getStreetName()}">
                WarehouseStreetName
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{warehouseId}">Warehouse error placeholder</label>
    <br/><br/>

    <label th:text="#{parcels.label.users}">Users</label>
    <br/>
    <label>
        <select th:field="*{userId}">
            <option th:each="user : ${users}" th:value="${user.getId()}"
                    th:text="${user.getUsername()}">
                Username
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{userId}">User error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>

</html>