<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" type="image/png" href="../static/Images/profil-user-icon.png"
          th:href="@{/Images/profil-user-icon.png}"/>
    <link href="../static/css/profile-user.css" th:href="@{/css/profile-user.css}" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
                         alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <a th:text="${currentUser.firstName}">First Name</a>
                        <a th:text="${currentUser.lastName}">Last Name</a>
                    </h5>
                    <h6>
                        <a class="userNull" th:if="${currentUser != null && currentUser.isCustomer()}"
                           th:text="Customer"></a>
                        <a class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}"
                           th:text="Employee"></a>
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#" th:href="@{/users/{id}/update(id=${userView.id})}">
                    <button type="button" class="profile-edit-btn" name="btnAddMore">
                        <span class="glyphicon glyphicon-edit"></span> Edit Profile
                    </button>
                </a>
                <a href="#" th:href="@{/}">
                    <button type="button" class="profile-edit-btn" name="btnAddMore">
                        <span class="glyphicon glyphicon-edit"></span> Home
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p><a th:text="${currentUser.username}">Username</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><a th:text="${currentUser.firstName}">First name</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><a th:text="${currentUser.lastName}">Last name</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><a th:text="${currentUser.email}">Email</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p><a th:text="${currentUser.addressId.streetName}">Address</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>