<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/LoginAndRegisterStyles.css" th:href="@{/css/LoginAndRegisterStyles.css}" rel="stylesheet">
    <link href="../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form th:action="@{/register}" th:object="${registerDto}" method="post" class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="inputUsername" th:field="*{username}" class="form-control"
                                   placeholder="Username"
                                   required autofocus>
                            <label for="inputUsername">Username</label>
                            <p th:errors="*{username}">Username already exist!</p>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" th:field="*{email}" class="form-control"
                                   placeholder="Email address"
                                   required>
                            <label for="inputEmail">Email address</label>
                            <p th:errors="*{email}">Email error</p>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" th:field="*{password}" class="form-control"
                                   placeholder="Password"
                                   required>
                            <label for="inputPassword">Password</label>
                            <p th:errors="*{password}">Passwords do not match.</p>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" th:field="*{repeatPassword}"
                                   class="form-control"
                                   placeholder="Password" required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="text" id="inputFirstName" th:field="*{firstName}" class="form-control"
                                   placeholder="First name"
                                   required>
                            <label for="inputFirstName">First name</label>
                            <p th:errors="*{firstName}">First name error</p>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputLastName" th:field="*{lastName}" class="form-control"
                                   placeholder="Last name"
                                   required>
                            <label for="inputLastName">Last name</label>
                            <p th:errors="*{lastName}">Last name error</p>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="text" id="inputStreetName" th:field="*{streetName}" class="form-control"
                                   placeholder="Address, Street name"
                                   required>
                            <label for="inputStreetName">Street name</label>
                        </div>

                        <label class="grad">
                            <select th:field="*{cityId}">
                                <option th:each="element : ${cities}" th:value="${element.getId()}"
                                        th:text="${element.getName()}">
                                    CityName
                                </option>
                            </select>
                        </label>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register
                        </button>
                        <a class="d-block text-center mt-2 small" href="#">Sign In</a>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                class="fab fa-google mr-2"></i> Sign up with Google
                        </button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>