<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipment</title>
    <link href="../static/css/shipment.css" th:href="@{/css/shipment.css}" rel="stylesheet"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<h2 id="info">Shipment Info</h2>

<section>
    <div id="programs">
        <div class="details">

            <div class="title">ID:</div>
            <div class="title" th:text="${shipment.id}">ID</div>
            <br/>
            <div class="title">Create Date:</div>
            <div class="title" th:text="${shipment.shipmentDate}">Create Date</div>
            <br/>
            <div class="title">Departure Date:</div>
            <div class="title" th:text="${shipment.departureDate}">Departure Date</div>
            <br/>
            <div class="title">Arrival Date:</div>
            <div class="title" th:text="${shipment.arrivalDate}">Arrival Date</div>
            <br/>
            <div class="title">Shipment Status:</div>
            <div class="title" th:text="${shipment.shipmentStatus.getDescription()}">Shipment Status</div>
            <br/>
            <div>
                <div class="title">Warehouse Address:</div>
                <a class="title" href="#" th:href="@{/warehouses/{id}(id=${shipment.getWarehouses().getId()})}"
                   th:text="${shipment.getWarehouses().getAddressId().getStreetName()}">Street name </a>
            </div>

        </div>
    </div>

    </div>
</section>

<div th:if="${ not#lists.isEmpty(parcels)}">
    <table class="sortable" id="myTable">
        <tr class="header">
            <th style="width:10%;" onclick="sortTable(0)">Parcel ID</th>
            <th style="width:20%;" onclick="sortTable(2)">Username</th>
            <th style="width:20%;" onclick="sortTable(3)">Weight</th>
            <th style="width:20%;" onclick="sortTable(4)">Category</th>
            <th style="width:20%;" onclick="sortTable(5)">Warehouse Address</th>
            <th style="width:20%;">Functions</th>
        </tr>
        <tr th:each="parcel : ${parcels}">
            <td>
                <a class="cell" href="#" th:href="@{/parcels/{id}(id=${parcel.id})}"
                   th:text="${parcel.id}">ID</a>
            </td>
            <td>
                <a class="cell" href="#" th:href="@{/users/{id}(id=${parcel.userId.id})}"
                   th:text="${parcel.userId.username }">User</a>
            </td>

            <td class="cell" th:text="${parcel.weight}">Weight</td>
            <td class="cell" th:text="${parcel.categoryId.name}">Category</td>
            <td>
                <a class="cell" href="#" th:href="@{/warehouses/{id}(id=${parcel.warehouseId.id})}"
                   th:text="${parcel.warehouseId.addressId.streetName}">Street Name</a>
            </td>
            <td>
                <a href="#"
                   th:href="@{__${#httpServletRequest.requestURI}__/deleteParcel/{parcelId}(parcelId=${parcel.id})}">
                    <button class="button">Delete</button>
                </a>
            </td>

        </tr>
    </table>
</div>

</body>
</html>