<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipment Form Fragment</title>
    <link href="../static/css/parcelsForm.css" th:href="@{/css/parcelsForm.css}" rel="stylesheet"/>
</head>

<body>

<h2 id="info">Shipment Info</h2>

<form th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${shipmentDto}" method="post">

    <label th:text="#{shipment.departure}">Departure Date</label>
    <br />
    <input type="text" th:field="*{departureDate}" />
    <label class="error" th:errors="*{departureDate}">Departure Date error placeholder</label>
    <br /><br />

    <label th:text="#{shipment.arrival}">Arrival Date</label>
    <br />
    <input type="text" th:field="*{arrivalDate}" />
    <label class="error" th:errors="*{arrivalDate}">Arrival Date error placeholder</label>
    <br /><br />


    <label th:text="#{shipment.status}">Status</label>
    <br />
    <label>
        <select th:field="*{shipmentStatusId}">
            <option th:each="element : ${status}" th:value="${element.getId()}" th:text="${element.getDescription()}">
                Shipment Status
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{shipmentStatusId}">Status error placeholder</label>
    <br /><br />

    <label th:text="#{shipment.warehouseId}">Warehouse</label>
    <br />
    <label>
        <select th:field="*{warehouseId}">
            <option th:each="warehouse : ${warehouses}" th:value="${warehouse.getId()}"
                    th:text="${warehouse.getAddressId().getStreetName()}">
                WarehouseStreetName
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{warehouseId}">Warehouse error placeholder</label>
    <br /><br />

    <input type="submit" value="Save" />
</form>



</body>
</html>