<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Update Page</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <link href="../static/css/userForm.css" th:href="@{/css/userForm.css}" rel="stylesheet"/>
</head>

<body>
<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<h2>Update user</h2>
<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${updateDto}" method="post">
    <label th:text="#{user.firstName.label}">First name</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}">First name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.lastName.label}">Last name</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}">Last name error placeholder</label>
    <br/><br/>

    <label th:text="#{user.email.label}">Email</label>
    <br/>
    <input type="email" th:field="*{email}"/>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <br/><br/>

    <label th:text="#{user.password.label}">Password</label>
    <br/>
    <input type="password" id="inputPassword" th:field="*{password}" class="form-control"
           placeholder="Password"
           required>
    <label th:errors="*{password}">Passwords do not match.</label>
    <br/><br/>

    <label th:text="#{user.confirmPassword.label}">Confirm password</label>
    <br/>
    <input type="password" id="inputConfirmPassword" th:field="*{repeatPassword}"
           class="form-control"
           placeholder="Password" required>
    <br/><br/>

    <label th:text="#{user.address.label}">Address</label>
    <br/>

    <div class="form-label-group">
        <input type="text" id="inputStreetName" th:field="*{streetName}" class="form-control"
               placeholder="Address, Street name"
               required>
    </div>

    <label class="grad">
        <select id="citySelect" th:field="*{cityId}">
            <option th:each="element : ${cities}" th:value="${element.getId()}"
                    th:text="${element.getName()}">
                CityName
            </option>
        </select>
    </label>

    <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
        <label class="grad">
            <select id="roleSelect" th:field="*{roleId}">
                <option th:each="element : ${roles}" th:value="${element.getId()}"
                        th:text="${element.getValue()}">
                    Role Value
                </option>
            </select>
        </label>
    </li>

    <input type="submit" value="Save"/>
</form>
</body>

</html>