<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Parcels</title>
    <link rel="icon" type="image/png" href="../static/Images/truck-delivery-icon.png"
          th:href="@{/Images/truck-delivery-icon.png}"/>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
    <link href="../static/css/users.css" th:href="@{/css/users.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="slide-bar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="/">DeliverIt</a></div>
            <ul class="links">
                <li><a href="/" th:text="#{home.button}">Home</a></li>
                <li><a href="#" th:href="@{/about}" th:text="#{navigation.about-page}">About</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <ul>
                        <li><a href="#" th:href="@{/categories}"
                               th:text="#{navigation.all-categories}">Categories</a>
                        </li>
                        <li><a href="#" th:href="@{/cities}" th:text="#{navigation.all-cities}">Cities</a></li>
                        <li><a href="#" th:href="@{/warehouses}"
                               th:text="#{navigation.all-warehouses}">Warehouses</a>
                        </li>
                        <tk class="userNull" th:if="${currentUser != null}">
                            <li><a href="#" th:href="@{/shipments}"
                                   th:text="#{navigation.all-shipment}">Shipments</a></li>
                        </tk>
                        <li><a href="#" th:href="@{/countries}"
                               th:text="#{countries.name}">Countries</a></li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser != null }">
                    <a href="#" class="desktop-link">Services</a>
                    <input type="checkbox" id="show-services">
                    <label for="show-services">Services</label>
                    <ul>
                        <li><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Parcels</a></li>
                        <li class="userNull" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="userNull" href="#" th:href="@{/users}" th:text="#{navigation.users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/register}" th:text="#{navigation.register}">Register</a>
                </li>
                <li class="userNull" th:if="${currentUser == null}">
                    <a class="userNull" href="#" th:href="@{/login}" th:text="#{navigation.login}">Login</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/logout}" th:text="#{navigation.logout}">Logout</a>
                </li>
                <li class="userNull" th:if="${currentUser != null}">
                    <a class="userNull" href="#" th:href="@{/users/{id}(id=${currentUser.id})}"
                       th:text="#{navigation.profile}">Profile</a>
                </li>
            </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>

<div id="show-username">
    <td>
        <div th:if="${currentUser != null }">
            <div class="numb">Welcome
                <h4 class="numb"
                    th:text="${currentUser.getFirstName()}">Welcome USERNAME!</h4>
            </div>
        </div>
    </td>
</div>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for attributes.." title="Type in a value">

<div th:if="${ not#lists.isEmpty(usersAll)}">
    <table class="sortable" id="myTable">
        <tr class="header">
            <th style="width:10%;" onclick="sortTable(0)">UserId</th>
            <th style="width:20%;" onclick="sortTable(1)">Username</th>
            <th style="width:20%;" onclick="sortTable(2)">First Name</th>
            <th style="width:20%;" onclick="sortTable(3)">Last Name</th>
            <th style="width:20%;" onclick="sortTable(4)">Email Address</th>
            <th style="width:10%;" onclick="sortTable(5)">Address</th>
            <th style="width:20%;">Functions</th>
        </tr>
        <tr th:each="element : ${usersAll}">
            <td>
                <a class="cell" href="#" th:href="@{/users/{id}(id=${element.getId()})}" th:text="${element.id}">User ID </a>
            </td>
            <td class="cell" th:text="${element.username}">Username</td>
            <td class="cell" th:text="${element.firstName}">First Name</td>
            <td class="cell" th:text="${element.lastName}">Last name</td>
            <td class="cell" th:text="${element.email}">Email address</td>
            <td class="cell" th:text="${element.addressId.streetName}">Address</td>
            <td>
                <a href="#" th:href="@{/users/{id}/update(id=${element.getId()})}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>
                <a href="#" th:href="@{/users/{id}/delete(id=${element.getId()})}">
                    <button class="button">Delete</button>
                </a>
            </td>
        </tr>
    </table>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                // Hide the row initially.
                tr[i].style.display = "none";

                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    </script>
</div>
</body>
</html>