<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Form Fragment</title>
    <link href="../static/css/warehouseForm.css" th:href="@{/css/warehouseForm.css}" rel="stylesheet"/>
</head>
<body>
<form th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${warehouse}" method="post">

    <label th:text="#{warehouse.label.city}">Cities</label>
    <br/>
    <label>
        <select th:field="*{cityId}">
            <option th:each="element : ${cities}"
                    th:value="${element.id}"
                    th:text="${element.name}">
                CityName
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{cityId}">City error placeholder</label>
    <br/><br/>

    <label th:text="#{warehouse.label.address}">Address Street name</label>
    <br/>
    <input type="text" th:field="*{streetName}"/>
    <label class="error" th:errors="*{streetName}">Address Street name error placeholder</label>
    <br/><br/>

    <br/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>